// banner
.banner {
  padding: 100px 0 50px;
}

.feature-card {
  border-radius: 10px;
  padding: 20px;
  transition: .2s ease;
  background-color: $white;

  &:hover {
    @extend .shadow;
  }

  svg,i {
    font-size: 30px;
    color: $primary-color;
    display: inline-block;
  }
}

.footer-list a {
  display: block;
  padding: 5px 0;
  font-size: 16px;
  color: $text-color;
  margin: 8px 0;

  &:hover {
    color: $primary-color;
  }
}

.social-icons a {
  color: $primary-color;
  text-align: center;
  height: 35px;
  width: 35px;
  line-height: 35px;
  border: 1px solid $primary-color;
  border-radius: 50%;
  display: block;

  &:hover {
    color: $white;
    background-color: $primary-color;
  }
}

// blog card
.card-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// blog post
a.post-title {
  color: $text-color-dark;
  font-weight: 400;

  &:hover {
    color: $primary-color;
  }
}

.content {

  * {
    word-break: break-word;
    overflow-wrap: break-word;
    margin-top: 5px;
  }

  img {
    max-width: 100%;
    border-radius: .25rem !important;
    display: block;
    margin: 10px auto 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 40px;
    margin-bottom: 20px;

    a {
    border-bottom: none;
    }

  }

  strong {
    font-weight: 600;
  }

  a {
    color: $text-color;
    border-bottom: 1px solid $border-color;

    &:hover {
      color: $primary-color;
    }
  }

  ol,
  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 20px;
    list-style-type: none;

    li {
      padding-left: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $primary-color;
        left: 3px;
        top: 5px;
      }
    }
  }

  table {
    border-collapse: collapse;
    border-radius: 1em;
    border: 1px solid $border-color;
    box-shadow: 0 12px 24px -6px rgba(37,99,235,.30) !important;
    display: block;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    table-layout: fixed;
    white-space: nowrap;
    width: 100%;
  }

  table td,
  table th {
    padding: .75rem;
    vertical-align: middle;
  }

  th,
  td {
    &:not(:last-of-type) {
      border-right: 1px solid $border-color;
    }
  }

  th {
    font-weight: 500;
    margin: 0px 20px 10px;
    font-weight: bold;
  }

  thead {
    background: $white;
    border-radius:1em;
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid $border-color;
    }
  }

  tbody {
    background-color: transparent;
    margin-bottom: 0;
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
  }

  .notices p {
    padding: 10px;
    margin-bottom: 0;
  }

  .notices p::before {
    position: absolute;
    top: 2px;
    color: $white;
    font-family: "themify";
    font-weight: 900;
    content: "\e717";
    left: 10px;
  }

  .notices.note p {
    border-top: 30px solid #6ab0de;
    background: $white;
  }

  .notices.note p::after {
    content: 'Note';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.tip p {
    border-top: 30px solid #78C578;
    background: $white;
  }

  .notices.tip p::after {
    content: 'Tip';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.info p {
    border-top: 30px solid #F0B37E;
    background: $white;
  }

  .notices.info p::after {
    content: 'Info';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.warning p {
    border-top: 30px solid #E06F6C;
    background: $white;
  }

  .notices.warning p::after {
    content: 'Warning';
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }


  blockquote {
    font-size: 20px !important;
    color: $text-color;
    padding: 20px 40px;
    border-left: 2px solid $primary-color;
    margin: 40px 0;
    font-weight: bold;
    background: $white;

    p {
      margin-bottom: 0 !important;
    }
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 10px;
    border-radius: .50rem !important;
    white-space: pre-wrap;
      code {
        color: $primary-color;
      }
  }

  code {
    color: $primary-color;
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}


// pagination
.pagination {
  margin-top: 30px;
  justify-content: center;

  .page-item {
    .page-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      background: $light;
      text-align: center;
      padding: 0;
      margin-right: 10px;
      border: 0;
      color: $text-color;

      &:hover {
        background: $primary-color;
        color: $white;
      }

      &:focus {
        box-shadow: none;
      }
    }

    &:first-child,
    &:last-child {
      .page-link {
        border-radius: 5px;
      }
    }

    &.active {
      .page-link {
        background: $primary-color;
        color: $white;
      }
    }
  }
}

.slick-dots {
  text-align: center;
  margin-top: 20px;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 5px;

    &.slick-active {
      button {
        background-color: $primary-color;
      }
    }

    button {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: block;
      color: transparent;
      padding: 0;
      border: 1px solid $primary-color;
      background-color: transparent;
      transition: .2s ease;
    }
  }
}

// pricing table
.col-recommended {
  margin: -2rem -1.5rem;
  z-index: 1;
  @include desktop {
    margin: 0;
    margin-bottom: 40px;
  }
}

.price{
  font-size: 50px;
  color: $text-color;
}

// testimonial
.testimonial {
  position: relative;
}

.testimonial .item i {
  color: $text-color;
  display: inline-block;
}

.testimonial .item .client-details {
  padding-bottom: 30px;
}

.testimonial .item .client-details p {
  color: $text-color;
  font-weight: 200;
  padding: 0 10%;
}

.testimonial .item .client-meta {
  margin-top: 8px;
  color: $text-color;
}

.testimonial .item .client-meta h4 {
  margin-bottom: 4px;
}

.testimonial .item .client-meta span {
  font-size: 12px;
}

.testimonial .item .client-thumb img {
  display: inline-block;
  border-radius: 100%;
  width: 90px;
  height: auto;
}
